main{
    min-height: 80vh;
}

.notes_card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.note_item{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: .5rem;
    width: 100%;
}
.note_item>input{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: .5rem;
}
.note_item>textarea{
    font-size: 1rem;
}
.note_item>textarea::-webkit-scrollbar{
    display: none;
}

.button_wrapper{
    display: flex;
    gap: 1rem;
    background-color: #FFF;
}

.del_btn{
    background-color: var(---first-primary-color);
    padding: 0 .5rem;
    color: #001122;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    transition:.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.del_btn:hover{
    color: red;
    background-color: var(---second-primary-color);
}

@media screen and (max-width:593px) {
    .notes_card{
      justify-items: center;
    }
    .note_item{
        max-width: 100%;
    }
}
@media screen and (max-width:261px) {
    .notes_card{
        justify-items: start;
      }
    .note_item{
        max-width: 12rem;
    }
  }
  @media screen and (max-width:195px) {
    .notes_card{
        justify-items: start;
      }
    .note_item{
        max-width: 10rem;
    }
  }